libtool
*.deps/
Makefile
*.Po
config.log
config.status
config.cache
config.log
configure.lineno
config.status.lineno
*.o
*.lo
*.la
*.libs/
autom4te.cache/
exampleProgram/exampleProgram
*stackdump*
*.exe
