libtool
*.deps/
Makefile
*.Po
config.log
config.status
config.cache
config.log
configure.lineno
config.status.lineno
configure
aclocal.m4
*.o
*.lo
*.la
*.libs/
*.in
autom4te.cache/
exampleProgram/exampleProgram
*stackdump*
*.exe
.project
.settings
.cproject
